<div class="container">
  <% @matchdays.each do |matchday|%>
    <%= matchday.sport_type %> <br />
    <%= matchday.date %> <br />
    <%= matchday.date %> <br />
    <%= matchday.mode %> <br />
    <%= matchday.sports_ground.name %> <br />
    <%= link_to 'Details', matchday_path(matchday) %><br /><br /><br />
  <% end %>
</div>
