<h2>Mode: <%= @matchday.mode %><h2>
<h2>Sport: <%= @matchday.sport_type %><h2>
<h2>Date: <%= @matchday.date %><h2>
<h2>Sports Ground: <%= @matchday.sports_ground.name %><h2>
<h2>Capitan: <%= @matchday.user.username %></h2>
<%= link_to 'Back', matchdays_path %>
